appdirs==1.4.3
click==6.7
Flask==0.12.1
gunicorn==19.7.1
inflect==0.2.5
itsdangerous==0.24
jaraco.itertools==2.0.1
Jinja2==2.9.6
MarkupSafe==1.0
more-itertools==3.1.0
packaging==16.8
pymessenger==0.0.7.0
pyparsing==2.2.0
requests==2.13.0
requests-toolbelt==0.7.1
six==1.10.0
Werkzeug==0.12.1
wit==4.2.0
wolframalpha==3.0
xmltodict==0.11.0
